/*
 * 初始化
 */
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	font-family: "Microsoft YaHei UI",sans-serif;
	font-size: 16px;
	color:#222;
}
a{
	text-decoration: none;
	color: #222;
}
ul,li{
	list-style:none;
}

hr{
	border: none;
	height: 15px;
	border-bottom-style: solid;
	border-bottom-color: #222;
	border-bottom-width: thin;
}
h1{
	text-align: center;
	margin: 70px auto;
}
h2{
	margin-top:50px;
}

h3{
	line-height: 50px;
}

/*
 * 公共样式*
 */

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


.banner{
	width:100%;
	height:280px;
	margin-top: 50px;
	margin-bottom: 70px;
	line-height: 280px;
	background:url("../img/banner.png");
	background-size: cover;
	background-clip: initial;
	background-position: center center;
}

.mainbody{
	width: 1200px;
	margin: auto;
}

.pubul, .pubul li{
	list-style-type: decimal;
	list-style-position:inside;
}

.content{
	height: auto;
	margin-left:20px;
	padding: 20px 0;
	line-height: 30px;
	text-align: justify;
	border-bottom-color: #aaa;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
.content:hover{
	color:#0151B0;
}
.content a:hover{
	color: #0151B0;
	font-weight: bold;
}
.brief{
	margin: auto;
	text-align: justify;
	line-height: 35px;
}

.subframe{
	width: 100%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
.subfaculty{
	width: 200px;
	height: 300px;
	/*background: #eee;*/
	float: left;
	margin: 25px 20px;
	box-shadow: 0 0 10px #aaa;
}
.subfaculty img{
	width: 200px;
	height: 250px;

}
.subfaculty .personName{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:inherit;
	font-size: 20px;
}
.subfaculty:hover{
	box-shadow: 0 0 30px #aaa;
}
.subfaculty:hover a{
	color: #0151B0;
	font-weight: bold;
}
.submember{
	width: 120px;
	height: 180px;
	/*background: #eee;*/
	float: left;
	margin: 20px 15px;
	box-shadow: 0 0 10px #aaa;
}
.submember img{
	width: 120px;
	height: 150px;

}
.submember .personName{
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color:inherit;
}
.submember:hover{
	box-shadow: 0 0 30px #aaa;
}
.submember:hover a{
	color: #0151B0;
	font-weight: bold;
}

.subalumni{
	width: 120px;
	height: 240px;
	/*background: #eee;*/
	float: left;
	margin: 20px 15px;
	box-shadow: 0 0 10px #aaa;
}
.subalumni .personName{
	width: 120px;
	height: 90px;
	line-height: 30px;
	text-align: center;
	color:inherit;
}