/*通用css*/
.top{
    width:100%
}

body{
    font:14px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#666;
    margin:0px;
}

input{border:none;}

.lf{float:left;margin:0px;
    padding:0px;
    list-style:none;
}
.rt{float:right;margin:0px;
    padding:0px;
    list-style:none;}
.clear{clear:both;}
/****************************************************/
.channel-floor,#top_box,#top_main,#banner,#main,#nav,#footer,#banner_img,#foot{
    width:1280px;
    margin:0 auto;
}
#top{
    width:100%;
    height:25px;
    line-height:25px;
    background-color:#F7F7F7;
}
/*********top_box**********/
/* 页面顶部 img部分，收藏京东设置*/
/* 超链接a*/
a{
    color:#666;
    text-decoration:none;
}
/*超链接添加鼠标悬停在 html元素上的动态伪类*/
a:hover{
    color:#ff0700;
    text-decoration:underline;
}
#top_box{
    height:30px;
}
#top_box>img{
    float:left;
    margin-top:8px;
    margin-right:5px;
}
#top_main:after{
    content: "";
    display: block;
    clear: both;
}
#top_box>ul>li{
    float:left;
    text-align:center;
    padding-right: 25px;
}




