<!DOCTYPE html>
<html>

<head>
    <title>消息传输</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <script src="vue.global.js"></script>
    <script src="jquery-1.11.1.min.js"></script>
</head>

<body>
    <div id="app">
        <h2>文本/网址复制记录工具 跨设备临时使用工具2.0 --基于Vue</h2>
        <!-- {{data_dict}} {{input_list}} -->
        <div v-for="(value,key,index) in data_dict">
            #{{index}}<br>
            <input v-model="input_list[index]" @keyup.enter="fresh(index)" />
            <button @click="fresh(index)">Set</button>
            <br>
            <a :href="value">{{value}}</a>
            <br><br>
        </div>
    </div>

    <script>
        const testAPP = {
            data() {
                return {
                    data_dict: {},
                    input_list: []
                }
            },
            methods: {
                fresh(data = -1) {
                    console.log(data);
                    that = this;
                    if (data != null) {
                        //set
                        var param = {
                            "id": data,
                            "val": that.input_list[data]
                        };
                        console.log(param)
                        $.ajaxSettings.async = false; //修改为同步请求！！！
                        $.get("http://27b2a24926.qicp.vip/copy_pass", param, function(data, status) {
                            console.log(data);
                            that.data_dict = data;
                        })
                    } else {
                        //get
                        var param = {
                            "id": 0,
                            "val": 0
                        };
                        $.ajaxSettings.async = false; //修改为同步请求！！！
                        $.get("http://27b2a24926.qicp.vip/copy_pass", param, function(data, status) {
                            console.log(data);
                            that.data_dict = data;
                        })
                    }
                },
                // 定时刷新数据函数
                dataRefresh() {
                    // 计时器正在进行中，退出函数
                    if (this.intervalId != null) {
                        return;
                    }
                    // 计时器为空，操作
                    this.intervalId = setInterval(() => {
                        console.log("刷新" + new Date());
                        this.fresh(-1); //加载数据函数
                    }, 2000);
                },
                // 停止定时器
                clear() {
                    clearInterval(this.intervalId); //清除计时器
                    this.intervalId = null; //设置为null
                },
            },

            mounted() {
                //加载时先刷新一下
                this.fresh();
            },
            //定时器
            created() {
                this.dataRefresh();
            },
            destroyed() {
                // 在页面销毁后，清除计时器
                this.clear();
            }
        }
        Vue.createApp(testAPP).mount('#app')
    </script>

</body>

</html>