body {
    font-weight: bold;
    background-image: url(../images/th.jpg);
    /*background-repeat:no-repeat;*/
    background-size: 100% 100%;
    background-position: top;
}

.ywzbox {
    background: rgba(128, 128, 128, 0.6);
    width: 400px;
    margin-left: 34%;
    border-width: thin;
}