<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="{% static " css/ywz_index.css " %}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/ywz_index.css">


    <!-- {% block head %}{% endblock %} -->
</head>

<body>
    <!-- 页面顶部 -->
    <!-- 顶部容器 ：width:100% -->
    <header id="top">
        <!-- 内容显示区域 ：width : 1211px -->
        <div id="top_box">
            <ul class="lf">
                <li><a href="#">欢迎</a></li>
                <li><a href="#">Welcome!</a></li>
            </ul>
            <ul class="rt">
                <li>用户名: {{ username }}</li>
                <li><a href="quit">退出登录</a></li>

            </ul>
        </div>
    </header>

</body>

</html>