<!DOCTYPE html>
<html>

<head>
    <title>管理界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../static/css/ywz_index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/table.css">

    <link href="../static/css/foundation.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/twentytwenty.css" rel="stylesheet" type="text/css" />

    <script src="../static/js/vue.global.js" />
    <script src="../static/js/axios.min.js"></script>

    <script src="../static/js/jquery-3.2.1.js"></script>

    <style>
        .dropbox {
            border: .25rem dashed #007bff;
            min-height: 5rem;
        }
    </style>

</head>

<body>
    <!-- 页面顶部 -->
    <!-- 顶部容器 ：width:100% -->
    <!--可以挂多个vue，但不太方便-->
    <div id="App1">

        <header id="top">
            <!-- 内容显示区域 ：width : 1211px -->
            <div id="top_box">
                <ul class="lf">
                    <li><a href="#">欢迎</a></li>
                    <li><a href="#">Welcome!</a></li>
                </ul>
                <ul class="rt">
                    <li>用户名: {{ username }}</li>
                    <li><a @click="quit">退出登录</a></li>

                </ul>
            </div>
        </header>
        <!-- body-block -->

        <center>
            <br> <br>
            <center>
                <button class="btn btn-primary" @click="this.seen_id=0; this.showPicFileContrast();">图片url/本地上传&对比&下载<br>pipline-demo</button> &nbsp;&nbsp;&nbsp;&nbsp;
                <button v-if="username.slice(0,5)=='admin'" class="btn btn-primary" @click="this.seen_id=1;this.buttonadmin();">管理员界面</button> &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" @click="this.seen_id=2;">上传文件-nginx补充</button>
                <br> <br> <br>

                <div v-if="seen_id==0">
                    <center>
                        看不见图则再点一下标题<br>
                        <div style="width: 500px;">
                            <div class="twentytwenty-container">
                                <img src="../static/img/2.png" id="img1" />
                                <img src="../static/img/1.png" id="img2" />
                            </div>
                        </div>
                        <br><br>


                        <br> url:
                        <input v-model="input_val[0]"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="primary" class="btn btn-primary" @click="clickurl">url上传</button>
                        <br><br>
                        <input type="file" class="btn btn-primary" @change="inputFileChange">
                        <br><br>
                        <!--<button type="primary" class="btn btn-primary" @click="clicks">上传</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                        <button v-if="downflag==1" type="primary" class="btn btn-primary" @click="download">下载</button>
                        <br><br><br>


                </div>
                <!----->

                <div v-if="seen_id==1">
                    <h2>账号管理</h2>

                    <p>账号 <input style="border: 1;" v-model="input_val[0]"></p>
                    <p>新密码 <input v-model="input_val[1]"></p>
                    <br>
                    <button class="btn btn-primary" @click="this.changeadmin();this.buttonadmin();">修改</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" @click="this.registeradmin();this.buttonadmin();">注册</button>

                    <hr style="width: 25%; size: 3em;" />

                    <h2>查询</h2>
                    <br>
                    <button class="btn btn-primary " @click="buttonadmin ">查询</button>
                    <br><br>
                    <table border="1">
                        <tr>
                            <td>账户</td>
                            <td>密码</td>
                            <td>操作</td>
                        </tr>
                        <tr v-for="(each,index) in res_data_admin">
                            <!--<td v-for="(data,index2) in each">
            <p v-text="data"></p>
        </td>-->
                            <td v-text="each[0]"></td>
                            <td v-text="each[1]"></td>
                            <td><button class="btn btn-primary " @click="this.deleteadmin(each[0]);this.buttonadmin();">删除用户</button></td>
                        </tr>
                    </table>
                    <br><br>
                    <hr style="width: 25%; size: 3em;" />
                    开关设置: <br><br>
                    <input type="checkbox" v-model="enable_sign_up" @click="this.change_sign_up();">允许用户注册</input>
                    <br><br>
                </div>
                <!----->

                <div v-if="seen_id==2">
                    <br>
                    <p>文件保存相对路径路径[不存在则自动创建]:(/src)/files/ <input style="border: 1;" v-model="input_val[0]"></p>
                    <br><br>
                    <div class="dropbox p-3">
                        <br><br>
                        <h2 v-if="files.length===0" class="text-center">把要上传的文件拖动到这里</h2>
                        <div class="border m-2 d-inline-block p-4" style="width:15rem" v-for="file in files">
                            <h5 class="mt-0">{{ file.name }}</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped"
                                        :style="{ width: file.uploadPercentage+'%' }"></div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <input type="file" class="btn btn-primary" @change="chooseFile">
                </div>
    </div>

    <script src="../static/js/jquery.event.move.js"></script>
    <script src="../static/js/jquery.twentytwenty.js"></script>
    <script>
        const App1 = {
            data() {
                return {
                    username: "",
                    intervalId: null,
                    seen_id: 2, //默认
                    //////////////
                    val: [
                        0, 1
                    ],
                    //// 
                    showimg: "",
                    input_val: [null, null, null, null, null, null, null, null], //初始8个null
                    res_data: [],
                    enable_sign_up: false,
                    downflag: 0, //图片处理后-允许下载开关
                    direction: "/uploadapi",

                    ///
                    res_data_admin: [],
                    //drag
                    files: [],
                    item: "",
                }
            },

            methods: {
                quit(event) {
                    localStorage.removeItem('loggedname');
                    window.location.href = "Login.html";
                },

                // 显示对比
                showPicFileContrast(e){
                    $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({
                        default_offset_pct: 0.7
                    });
                    $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({
                        default_offset_pct: 0.3,
                        orientation: 'vertical'
                    });
                },
                //打开文件-pipeline
                inputFileChange(e) {
                    this.imgfiles = e.target.files[0] //当input中选择文件时触发一个事件并让data当中的imgfiles拿到所选择的文件
                        //加载上传的文件
                    var obj = document.getElementById("img1");
                    // obj.src = "data:image/jpeg;base64," + data;
                    obj.src = URL.createObjectURL(this.imgfiles); //直接加载代入显示
                    this.clicks();
                },
                // -pipeline
                clickurl(e) {
                    var obj = document.getElementById("img1");
                    console.log(this.input_val[0]);
                    //https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1537551922,3080283507&fm=26&gp=0.jpg
                    // obj.src = "data:image/jpeg;base64," + data;
                    obj.src = this.input_val[0];
                    //上传
                    this.clicks(e, urlname = this.input_val[0]);
                },
                //上传文件-pipeline
                clicks(e, urlname = "") {
                    $.ajaxSettings.async = false; //修改为同步请求！！！
                    that = this;

                    let formData = new FormData();
                    console.log(urlname);
                    if (urlname == "") {
                        formData.append(this.imgfiles.name, this.imgfiles); //文件名重复上传，便于处理 - 单文件 - 一次appen如果有效则变成一个文件
                        // formData.append('filename', this.files.name);
                        formData.append('sourcekind', "file");
                    } else {
                        formData.append('filename', urlname);
                        formData.append('sourcekind', "url");
                    }
                    $.ajax({
                            url: that.direction + "/deal_pic_demo/",
                            type: 'post',
                            processData: false, //用于对data参数进行序列化处理 这里必须false
                            contentType: false, //必须
                            data: formData,
                            success: function(data) {
                                // console.log(data);
                                var obj = document.getElementById("img2");
                                obj.src = "data:image/jpeg;base64," + data;
                                console.log("down ok");
                                that.downflag = 1;
                            }
                        })
                        // }
                },

                //下载-pipeline
                download(event) {
                    var obj = document.getElementById("img2");
                    console.log(obj.src);

                    var url = obj.src; // 获取图片地址
                    var a = document.createElement('a'); // 创建一个a节点插入的document
                    var event = new MouseEvent('click') // 模拟鼠标click点击事件
                    a.download = 'out.png' // 设置a节点的download属性值
                    a.href = url; // 将图片的src赋值给a节点的href
                    a.dispatchEvent(event) // 触发鼠标点击事件
                },
                //admin
                buttonadmin() {
                    that = this;
                    // 提交到后端
                    $.ajaxSettings.async = false; //修改为同步请求！！！
                    var param = {
                        "kind": "000", //kind=0
                        "username": that.username,
                        // "data": JSON.stringify(this.input_val) //数组转json，必须经过此操作！
                    }
                    $.post(that.direction + "/auth/", param, function(data, status) {
                        console.log("get back.")
                        console.log(data);
                        that.res_data_admin = data['data'];
                        that.enable_sign_up = data['option']['enable_sign_up'];
                    })
                },
                deleteadmin(data) {
                    console.log(data);
                    var param = {
                        "kind": "001", //kind=0
                        "username": that.username,
                        "name": data, //JSON.stringify(this.input_val) //数组转json，必须经过此操作！
                    }
                    $.post(that.direction + "/auth/", param, function(data, status) {
                        console.log("get back.")
                        console.log(data);
                        if (data['status'] == 'ok') {
                            alert("成功")
                        } else {
                            alert("失败")
                        }
                        // that.res_data_admin = data['data'];
                    })
                },
                changeadmin() {
                    // console.log(data);
                    var param = {
                        "kind": "002", //kind=0
                        "username": that.username,
                        "name": this.input_val[0], //JSON.stringify(this.input_val) //数组转json，必须经过此操作！
                        "newpasswd": this.input_val[1] //JSON.stringify(this.input_val) //数组转json，必须经过此操作！
                    }
                    $.post(that.direction + "/auth/", param, function(data, status) {
                        console.log("get back.")
                        console.log(data);
                        if (data['status'] == 'ok') {
                            alert("成功")
                        } else {
                            alert("失败")
                        }
                        // that.res_data_admin = data['data'];
                    })
                },
                registeradmin() {
                    var param = {
                        "kind": "003", //kind=0
                        "username": that.username,
                        "name": this.input_val[0], //JSON.stringify(this.input_val) //数组转json，必须经过此操作！
                        "newpasswd": this.input_val[1] //JSON.stringify(this.input_val) //数组转json，必须经过此操作！
                    }
                    $.post(that.direction + "/auth/", param, function(data, status) {
                        console.log("get back.")
                        console.log(data);
                        if (data['status'] == 'ok') {
                            alert("成功")
                        } else {
                            alert("失败")
                        }
                    })
                },
                change_sign_up(){
                    if(self.enable_sign_up){
                        var param = {
                        "kind": "004",
                        "username": that.username,
                        }
                    }
                    else{
                        var param = {
                        "kind": "005", 
                        "username": that.username,
                        }
                    }
                    $.post(that.direction + "/auth/", param, function(data, status) {
                        console.log("get back.")
                        console.log(data);
                        if (data['status'] == 'ok') {
                            alert("成功")
                        } else {
                            alert("失败")
                        }
                    })
                },
                
                
                
                //通用选择上传
                chooseFile: function (e) {
                    //do not use drag
                    console.log(e);
                    this.files = [];
                    this.uploadFile(e.target.files[0]);
                },
                //拖拽事件
                uploadFile: function (file) {
                    that = this;
                    console.log(file);
                    var item = {
                        name: file.name,
                        uploadPercentage: 1
                    };
                    this.files.push(item);
                    var idx = this.files.length - 1;
                    //
                    var fd = new FormData();
                    fd.append(file.name, file); //一次appen如果有效则变成一个文件
                    if(that.input_val[0]){
                        fd.append('pathprefix', that.input_val[0]);//不会被request.FILES扫描出来
                    }
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        // 回调
                        if(xhr.status != 200 && xhr.status != 0){
                            alert("upload fail error.")
                            xhr = null;
                            that.files = [];
                        }
                    };

                    xhr.open('POST', that.direction + '/upload_files/', true);
                    //progress
                    xhr.upload.addEventListener('progress', function (e) {
                        console.log(that.files[0]);
                        that.files[idx].uploadPercentage = Math.round((e.loaded * 100) / e.total);
                    }, false);
                    xhr.send(fd);
                    
                },
                onDrag: function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                },
                onDrop: function (e) {
                    this.files = [];
                    e.stopPropagation();
                    e.preventDefault();
                    var dt = e.dataTransfer;
                    for (var i = 0; i !== dt.files.length; i++) {
                        this.uploadFile(dt.files[i]);
                    }
                }
            },

            mounted() {
                //确认登录
                if (localStorage.getItem('loggedname')) {
                    this.username = localStorage.getItem('loggedname');
                } else {
                    window.location.href = "Login.html"
                }

                //拖拽事件
                var dropbox = document.querySelector('.dropbox');
                dropbox.addEventListener('dragenter', this.onDrag, false);
                dropbox.addEventListener('dragover', this.onDrag, false);
                dropbox.addEventListener('drop', this.onDrop, false);

            },


            // 定时刷新数据函数
            // dataRefresh() {
            //     // 计时器正在进行中，退出函数
            //     if (this.intervalId != null) {
            //         return;
            //     }
            //     // 计时器为空，操作
            //     this.intervalId = setInterval(() => {
            //         console.log("刷新 " + new Date());
            //         this.fresh(); //加载数据函数
            //     }, 5000);
            // },
            // // 停止定时器
            // clear() {
            //     clearInterval(this.intervalId); //清除计时器
            //     this.intervalId = null; //设置为null
            // },
            // //定时器
            // created() {
            //     this.dataRefresh();
            // },
            // destroyed() {
            //     // 在页面销毁后，清除计时器
            //     this.clear();
            // }

        }
        Vue.createApp(App1).mount('#App1')
    </script>


    </center>
</body>

</html>